.bigcard-nav {
    background: #1E213A;
    color: white;
    width: 400px;
    height: 150vh;
    display: flex;
    justify-content: center;
    align-items: stretch;
    
  }

 

  .container-inputs {
    padding-left: 15px;
   
  }

  .container-search {
    
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    background-color: transparent;
    height: 40px;
    border: 1px solid #E7E7EB;
    width: 252px;
    height: 48px;
    flex-shrink: 0;
    
  }

  #search {
    border: none;
    height:20px ;
    background-color: transparent;
  }

  .close {
    width: 360px;
    padding-right: 20px;
    padding-top: 20px;
    background-color: transparent;
    border-color: transparent;
    display:flex;
    justify-content: end;
    align-items: end;
  }


  .contenedor-alineador {
    padding-top: 30px;
    display: flex;
    gap: 10px;
    padding-bottom: 40px;
  }

  #boton-search {
    background: #3C47E9;
    width: 86px;
    height: 48px;
    flex-shrink: 0;
    color: #E7E7EB;
    font-family: Raleway;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    border-color: transparent;
  }

  .places-list {
    border: 1px solid transparent;
    width: 200px;
    width: 351px;
    height: 64px;
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }

.places-list:hover {
    border: 1px solid #616475;;
  }


  .city-container {
    display: flex;
    justify-content: center;
    align-items: center;
    
  }


  .city-container > :first-child {
    
    color: #E7E7EB;
    font-family: Raleway;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    padding-left: 20px;
    width: 330px;
  }

  .cities {
    padding-right: 10px;
    height: 500px;
    display: flex;
    justify-self: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
  }

  
  .bigcard-nav {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
  
  }

  .nav-list {
    display: none;
  }

  .listas-container {
    height: 78%;
}

.lista{
    width: 350px;
    height: 100%;
    flex-direction: column;

}

.liListas{
    height: 15%;
}

.lista-city {
    color: #E7E7EB;
    font-family: Raleway;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    height: 70px;
    padding: 4px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.lista-city:hover{
    border: 1px solid #616475;
    
}

.flecita{
    display: contents !important;
    color: #616475;
    font-size: 15px !important;
    
}

li > p {
    display: flex;
    align-items: center;
    padding: 30px;
}

input {
  color: white;
  background-color: #1E213A;
}

input[type]:focus {
  border-color: transparent;
  outline: 0 none;
}