@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Raleway:wght@500&display=swap");

input {
  cursor: pointer;
}

li {
  cursor: pointer;
}

button {
  cursor: pointer;
}

.contenedor-centigrados {
  display: none;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.padre {
  background-color: #100e1d;
  max-width: 400px;
  width: 400px;
  height: 450vh;
}

ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
}

.backimage {
  position: relative;
  width: 100%;
  height: 300px;
  background-image: url(/cloudy.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-size: 150% 100%;
  background-position: center center;
  opacity: 0.1;
}

.cloud {
  position: absolute;
  bottom: 220px;
}

.bigcard {
  background-color: #1e213a;
  color: white;
  height: 170vh;
}

.small-cards {
  height: 500px;
  color: aliceblue;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search {
  background: #6e707a;
  border-color: transparent;
  height: 50px;
  width: 170px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  color: white;
  font-family: Raleway;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.location {
  background-color: grey;
  font-family: Raleway;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  color: white;
}

.li-search {
  padding-top: 10px;
  padding-left: 10px;
}

.li-location {
  padding-top: 15px;
  padding-right: 10px;
}

.wheater-info {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.contenedor-grados {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40vh;
}

.c {
  padding-top: 10px;
  color: #a09fb1;
  font-family: Raleway;
  font-size: 48px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.grados {
  color: #e7e7eb;
  font-family: Raleway;
  font-size: 80px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.shower {
  color: #a09fb1;
  text-align: center;
  font-family: Raleway;
  font-size: 36px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  padding-bottom: 40px;
}

.today {
  padding-top: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  padding-bottom: 20px;
}

.today-text {
  color: #88869d;
  font-family: Raleway;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.point {
  color: #88869d;
  font-family: Raleway;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  padding-bottom: 5px;
}

.date {
  color: #88869d;
  font-family: Raleway;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.ciudad {
  display: flex;
  color: #88869d;
  font-family: Raleway;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.cloud {
  top: 100px;
  left: 90px;
}

@media screen and (min-width: 1280px) {
  .padre {
    display: flex;
    background-color: #100e1d;
    width: 1300px;
  }

  .contenedor-centigrados {
    width: 660px;
   height: 5px;
    display: flex;
    justify-content: end;
    align-items: end;
    gap: 20px;
    padding-bottom: 50px;
    
  }

  .contenedor-centigrados > :first-child {
    color: #110e3c;
    font-family: Raleway;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    width: 40px;
    height: 40px;
    flex-shrink: 0;
    border-radius: 50px;
    background: #e7e7eb;
    border-color: transparent;
    top: 30px;
  }

  .contenedor-centigrados > :last-child {
    color: #e7e7eb;
    text-align: center;
    font-family: Raleway;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    border-radius: 50px;
    background: #585676;
    width: 40px;
    height: 40px;
    flex-shrink: 0;
    border-color: transparent;
    top: 30px;
  }

  .contenedor-nav {
    width: 350px;
  }

  .bigcard {
    width: 350px;
  }

  .bigcard-nav {
    height: 20px;
  }

  .cloud {
    left: 50px;
  }

  

}

@media screen and (min-width:1024px) {
  .padre {
    display: flex;
    background-color: #100e1d;
    width: 1300px;
  }

  .contenedor-centigrados {
    width: 660px;
   height: 5px;
    display: flex;
    justify-content: end;
    align-items: end;
    gap: 20px;
    padding-bottom: 50px;
    
  }

  .contenedor-centigrados > :first-child {
    color: #110e3c;
    font-family: Raleway;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    width: 40px;
    height: 40px;
    flex-shrink: 0;
    border-radius: 50px;
    background: #e7e7eb;
    border-color: transparent;
    top: 30px;
  }

  .contenedor-centigrados > :last-child {
    color: #e7e7eb;
    text-align: center;
    font-family: Raleway;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    border-radius: 50px;
    background: #585676;
    width: 40px;
    height: 40px;
    flex-shrink: 0;
    border-color: transparent;
    top: 30px;
  }

  .contenedor-nav {
    width: 350px;
  }

  .bigcard {
    width: 350px;
  }

  .bigcard-nav {
    height: 20px;
  }

  .cloud {
    left: 50px;
  }

  

}
