
 
 .small-cards {
    max-width: 800px;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
    padding-top: 40px;
   }

   .text-cards {
    padding-top: 30px;
    width: 300px;
    color: #E7E7EB;
    font-family: Raleway;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
   }

   
   
    .container-smallcards{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        background-color: #1E213A;
        width: 36%;
        height: 50%;
    }
    
   
    .contenedor-snow {
        width: 60px;
        height: 80px;
        background-image: url(/snow.png);
        background-size: 100% 100%;
        background-position: center center;
        
    } 

    .temperatura {
        padding-top: 15px;
        display: flex;
        gap: 15px;
    }

    .texto-card {
        color: white;
        position: absolute;
        top: 700px;
    }

    .medium-cards {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 328px;
        height: 204px;
        flex-shrink: 0;
        background: #1E213A;
    }

    .container-7 {
        display: flex;
        align-items: center;
    }

    .container-7 > :last-child {
        color: #E7E7EB;
        font-family: Raleway;
        font-size: 46px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
    }

    .p1 {
        color: #E7E7EB;
        text-align: center;
        font-family: Raleway;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
    }

    .p2 {
        color: #E7E7EB;
        font-family: Raleway;
        font-size: 64px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }

    .navigation-container {
        padding-top: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;
    }

    .navigation-container > :first-child {
        border-radius: 50%;
        background-color: grey;
        
    }


    .contenedor-medium {
        padding-top: 0px;
    }

    .medium-small-cards {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            width: 328px;
            height: 159px;
            flex-shrink: 0;
            background: #1E213A;
    
    
    }

    .medium-small-cards-2 {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 328px;
        height: 159px;
        flex-shrink: 0;
        background: #1E213A;


}

    .visibility {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .visibility > :first-child {
        color: #E7E7EB;
        text-align: center;
        font-family: Raleway;
        font-size: 64px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }

    .visibility > :last-child {
        color: #E7E7EB;
        font-family: Raleway;
        font-size: 36px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
    }

    .mb {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .mb > :first-child {
        color: #E7E7EB;
        text-align: center;
        font-family: Raleway;
        font-size: 64px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }

    .mb > :last-child {
        color: #E7E7EB;
        font-family: Raleway;
        font-size: 36px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
    }

    .contenedor-medium-2 {
        padding-top: 0px;
    }

    .medium-cards-2 {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 328px;
        height: 204px;
        flex-shrink: 0;
        background: #1E213A;
    }

    .medium-cards-2 > :first-child {
        color: #E7E7EB;
        text-align: center;
        font-family: Raleway;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
    }

    .porcentaje {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .porcentaje > :first-child {
        color: #E7E7EB; 
        text-align: center;
        font-family: Raleway;
        font-size: 64px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }

    .porcentaje > :last-child {
        color: #E7E7EB;
        font-family: Raleway;
        font-size: 36px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }


 
    @media screen and (min-width:1024px){
        .padre {
          display: flex;
          background-color:  #100E1D ;
          height: auto;
          max-width: 1284px;
        }
        
        .bigcard {
          width: 300px;
        }

        .container-smallcards{
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            background-color: #1E213A;
            width: 16%;
            height: 50%;
        }

        .text-cards {
            padding-top: 70px;
            width: 700px;
            
           }

           .small-cards {
            padding-top: 80px;
            padding-left: 70px;
           }
        
        
      
      }
